@model Transaction.ResponseModel.ManagersResponse;
<style>
    a:hover{
        font-size: 120%;
    }
</style>
 
@if (Model.Data.Count != 0)
{
    <h1>List of Manager</h1>

    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th>S/N</th>
                <th>FirsName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @{int count =0;}
            @foreach (var item in Model.Data)
            {
                count ++;
                <tr>
                <td>@count</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id"> Details </a>
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id" > Update </a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id"> Delete </a>
                </td>
                </tr> 
                
                
            }
        
        </tbody>
    </table>
}
else 
{
    <p><button><a asp-action="Create">Add Manager</a></button></p>
    <h1>You don't have any manager for now.</h1>
}